{% extends "base.html" %}

{% block content %}
   <h1>Title</h1>
   <form action = "" method = "post"novalidate>
     {{form.hidden_tag()}}
        <h1>Title</h1>
   <form action = "" method = "post"novalidate>
     {{form.hidden_tag()}}
     <p>
        {{form.id.label}}
        <br />
        {{form.id(size = 32)}}
        {% for error in form.id.errors %}
        <span style = "color:red">error</span>
        {% endfor %}
        <br />
     </p>
      <p>
        {{form.power.label}}
        <br />
        {{form.power(size = 32)}}
        {% for error in form.power.errors %}
        <span style = "color:red">error</span>
        {% endfor %}
        <br />
     </p>
     <p>
        {{form.name.label}}
        <br />
        {{form.name(size = 32)}}
        {% for error in form.name.errors %}
        <span style = "color:red">error</span>
        {% endfor %}
        <br />
     </p>
     <p>{{form.Submit()}}</p>

   </form> 
   <p>If you dont have an account<a href="{{ url_for('register') }}">Click Register</a></p>    
{% endblock %}

